%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel  => "stylesheet", |
          :type => "text/css",   |
          :href => "style.css"}
  %body
    %h2 患者一括お掃除
    %div{:class => "top_menu"}
      %a{:href => "/"} 戻る
      %a{:href => "/logout"} ログアウト
    %div
      %form{:action => '/clean', |
            :method => 'post'}
        %p 開始患者ID
        %input{:type => "text",:name => 'start'}
        %p 終了患者ID
        %input{:type => "text",:name => 'end'}
        %input{:type => "submit",:value => "削除する"}
