%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel  => "stylesheet", |
          :type => "text/css",   |
          :href => "style.css"}
  %body
    %h2 ログイン
    - if session['message']
      %div{:class => "message"}
        %p= session['message']
        - session['message'] = nil
    %div
      %form{:action => "/login", :method => "post"}
        %div
          %p ユーザ
          %input{:type => "text", :name =>"user"}
        %div
          %p パスワード
          %input{:type => "password", :name =>"passwd"}
        %div
          %input{:type => "submit"}
