h2 {
  background-color: #ddf;
  padding: 5pt;
  margin: 5pt;
}

div.message {
  background-color: #fdd;
  border: 1px solid #b9b9b9;
}

div.message p {
  color: #f33;
}

div.top_menu {
  text-align: right;
  padding-bottom: 5pt;
}

table.table1{
  border-collapse: collapse;
}

th.th1 {
  color: #000;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}

td.td0 {
  color: #333;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

td.td1 {
  color: #333;
  background-color: #fef;
  border: 1px solid #b9b9b9;
}
